Django==1.5.5
PIL==1.1.7
argparse==1.2.1
diff-match-patch==20110725.1
dj-database-url==0.2.2
django-adminplus==0.2.0
django-autocomplete-light==1.4.9
django-import-export==0.1.4
django-object-tools==0.0.7
django-order==0.0.7
django-report-builder==1.13
openpyxl==1.7.0
psycopg2==2.5.1
python-dateutil==2.2
six==1.4.1
tablib==0.9.11
wsgiref==0.1.2
django-geoposition
django_measurement
