.etiqueta {
	background-color: #DDB946;
}
th, td {
	text-align: center;
}

@media screen{
   end-page{ 
   }
}

@media print{
   end-page{ 
      display:block; 
      page-break-before:always;
   }
}