{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main" class="desktop">
	{% load modulo %}
	{% get_estadisticas as recibos %}
	
	<div class="module" id="grafico">
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">
	      google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
	
	  var data = google.visualization.arrayToDataTable([
	    ['Area', 'Produccion'],
	    {% for r in recibos %}
	    ['{{ r.area }}', {{ r.total_copias }}],
	    {% endfor %}
	  ]);
	
	  var options = {
	    title: 'Estadisticas de Produccion',
	    hAxis: {title: 'Area', titleTextStyle: {color: 'black'}}
	  };
	
	  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
	
	  chart.draw(data, options);
	
	}
	    </script>
	    <div id="chart_div" style="width: 550px; height: 400px;"></div>
	</div>
	
	<div class="module">
		<h2>Estadisticas</h2>
	    <h3>Areas</h3>
		<table class="table-hover">
		<thead>
			<tr>
				<th>Area</th>
				<th>Copias</th>
			</tr>
		</thead>
		<tbody>
		{% for r in recibos %}
			<tr>
				<td><a href="/admin/recibos/recibo/{{ r.id }}">{{ r.area }}</a></td>
				<td><a href="/admin/recibos/recibo/{{ r.id }}">{{ r.total_copias }}</a></td>
			</tr>
		{% endfor %}
		</tbody>
	
		</table>
	</div>

<div class="module" id="recent-actions-module">
	        <h2>{% trans 'Recent Actions' %}</h2>
	        <h3>{% trans 'My Actions' %}</h3>
	            {% load log %}
	            {% get_admin_log 10 as admin_log for_user user %}
	            {% if not admin_log %}
	            <p>{% trans 'None available' %}</p>
	            {% else %}
	            <table class="table-hover">
                    <thead>
                        <th>Accion</th>
                    </thead>
                    <tbody>
	            {% for entry in admin_log %}
                        <tr>
                            <td>
                            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                                {% if entry.is_deletion or not entry.get_admin_url %}
                                    {{ entry.object_repr }}
                                {% else %}
                                    <a href="{{ entry.get_admin_url }}">
                                        {% if entry.content_type %}
                                            {% filter capfirst %}{% trans entry.content_type.name  %}{% endfilter %}
                                        {% else %}
                                            {% trans 'Unknown content ' %}
                                        {% endif %}
                                            ' {{ entry.object_repr }}'
                                    </a>
                                {% endif %}
                            </li>
                            </td>
                        <tr>
                    <tbody>
            {% endfor %}
            </table>
            {% endif %}
	</div>
</div>

{% endblock %}

{% block sidebar %}
<div id="content-related">

</div>
{% endblock %}
