<!DOCTYPE html>

<html lang="es-NI">
{% load i18n grp_tags log %}
{% for r in queryset %}
    <head>
        <meta charset="utf-8" />
        <title>{{r.area}}</title>
    </head>
    <body>

        <style>     div {position:absolute; z-index:25}
            a {text-decoration:none}
            a img {border-style:none; border-width:0}

            .fci49vv1b4n800-0 {
                font-size:16pt;
                color:#000000;
                font-family:Copperplate Gothic Bold;
                -weight:normal;
            }
            .fci49vv1b4n800-1 {font-size:14pt;color:#ffffff;font-family:Buxton Sketch;font-weight:normal;}
            .fci49vv1b4n800-2 {font-size:10pt;color:#000000;font-family:Browallia New;font-weight:normal;}
            .fci49vv1b4n800-3 {font-size:9pt;color:#000000;font-family:Arial;font-weight:normal;}
            .fci49vv1b4n800-4 {font-size:9pt;color:#000000;font-family:Arial;font-weight:bold;}
            .fci49vv1b4n800-5 {font-size:9pt;color:#ff0000;font-family:Arial;font-weight:bold;}
            .fci49vv1b4n800-6 {font-size:9pt;color:#000000;font-family:Microsoft Sans Serif;font-weight:bold;}
            .fci49vv1b4n800-7 {font-size:9pt;color:#000000;font-family:Microsoft Sans Serif;font-weight:normal;}
            .fci49vv1b4n800-8 {font-size:8pt;color:#000000;font-family:Times New Roman;font-weight:bold;}
            .fci49vv1b4n800-9 {font-size:7pt;color:#000000;font-family:Times New Roman;font-weight:normal;}
            .fci49vv1b4n800-10 {font-size:13pt;color:#000000;font-family:Microsoft Sans Serif;font-weight:bold;}
            .adi49vv1b4n800-0 {border-color:#000000;border-left-width:0;border-right-width:0;border-top-width:0;border-bottom-width:0;}
            .adi49vv1b4n800-1 {background-color:#c0c0c0;layer-background-color:#c0c0c0;border-color:#000000;border-left-width:0;border-right-width:0;border-top-width:0;border-bottom-width:0;}
            .adi49vv1b4n800-2 {background-color:#b0ecfd;layer-background-color:#b0ecfd;border-color:#000000;border-style:solid;border-width:0px;border-left-style:solid;border-left-width:1;border-right-style:solid;border-right-width:1;border-top-style:solid;border-top-width:1;border-bottom-style:solid;border-bottom-width:1;}
            .adi49vv1b4n800-3 {border-color:#000000;border-style:solid;border-width:0px;border-left-style:solid;border-left-width:1;border-right-style:solid;border-right-width:1;border-top-style:solid;border-top-width:1;border-bottom-style:solid;border-bottom-width:1;}
</style>



<div style="z-index:9;top:172px;left:768px;width:4px;height:48px;background-color:#000000;layer-background-color:#000000;clip:rect(0px,4px,48px,0px);"></div><div style="z-index:9;top:216px;left:612px;width:160px;height:4px;background-color:#000000;layer-background-color:#000000;clip:rect(0px,160px,4px,0px);"></div><div style="z-index:10;top:168px;left:608px;width:158px;height:46px;border-color:#000000;border-style:solid;border-width:1px;"><table width="150px" height="38px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:10;top:355px;left:8px;width:766px;height:211px;border-color:#000000;border-style:solid;border-width:1px;"><table width="758px" height="203px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:10;top:259px;left:8px;width:766px;height:94px;border-color:#000000;border-style:solid;border-width:1px;background-color:#b0ecfd;layer-background-color:#b0ecfd;"><table width="758px" height="86px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:10;top:576px;left:376px;width:398px;height:438px;border-color:#000000;border-style:solid;border-width:1px;"><table width="390px" height="430px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:10;top:576px;left:8px;width:358px;height:438px;border-color:#000000;border-style:solid;border-width:1px;"><table width="350px" height="430px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:15;top:188px;left:608px;border-color:#000000;border-style:solid;border-width:0px;border-top-width:1px;width:160px;"></div>
<div style="z-index:15;top:128px;left:8px;border-color:#000000;border-style:solid;border-width:0px;border-top-width:1px;width:768px;"></div>
<div style="z-index:15;top:291px;left:312px;border-color:#000000;border-style:solid;border-width:0px;border-top-width:1px;width:464px;"></div>
<div style="z-index:15;top:323px;left:8px;border-color:#000000;border-style:solid;border-width:0px;border-top-width:1px;width:768px;"></div>
<div style="z-index:15;top:323px;left:72px;border-color:#000000;border-style:solid;border-width:0px;border-left-width:1px;clip:rect(0px,1px,245px,0px);height:245px;"><table width="0px" height="240px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:15;top:323px;left:144px;border-color:#000000;border-style:solid;border-width:0px;border-left-width:1px;clip:rect(0px,1px,245px,0px);height:245px;"><table width="0px" height="240px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:15;top:323px;left:232px;border-color:#000000;border-style:solid;border-width:0px;border-left-width:1px;clip:rect(0px,1px,245px,0px);height:245px;"><table width="0px" height="240px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:15;top:291px;left:552px;border-color:#000000;border-style:solid;border-width:0px;border-left-width:1px;clip:rect(0px,1px,277px,0px);height:277px;"><table width="0px" height="272px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:15;top:259px;left:312px;border-color:#000000;border-style:solid;border-width:0px;border-left-width:1px;clip:rect(0px,1px,309px,0px);height:309px;"><table width="0px" height="304px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:15;top:323px;left:632px;border-color:#000000;border-style:solid;border-width:0px;border-left-width:1px;clip:rect(0px,1px,245px,0px);height:245px;"><table width="0px" height="240px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:15;top:323px;left:704px;border-color:#000000;border-style:solid;border-width:0px;border-left-width:1px;clip:rect(0px,1px,245px,0px);height:245px;"><table width="0px" height="240px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:15;top:323px;left:456px;border-color:#000000;border-style:solid;border-width:0px;border-left-width:1px;clip:rect(0px,1px,245px,0px);height:245px;"><table width="0px" height="240px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:15;top:323px;left:384px;border-color:#000000;border-style:solid;border-width:0px;border-left-width:1px;clip:rect(0px,1px,245px,0px);height:245px;"><table width="0px" height="240px"><tr><td>&nbsp;</td></tr></table></div>
<div style="z-index:15;top:792px;left:8px;border-color:#000000;border-style:solid;border-width:0px;border-top-width:1px;width:360px;"></div>
<div style="z-index:3;clip:rect(0px,785px,251px,0px);top:0px;left:0px;width:785px;height:251px;"></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:24px;left:152px;width:248px;height:32px;"><table width="248px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-0">Delta&nbsp;Copiers&nbsp;S.A.</span></td></table></div>
<div class="adi49vv1b4n800-1" nowrap="true" style="z-index:25;top:64px;left:152px;width:320px;height:32px;"><table width="320px" border="0" cellpadding="0" cellspacing="0"><td align="justify"><span class="fci49vv1b4n800-1">"División&nbsp;de&nbsp;Renta&nbsp;de&nbsp;Equipos&nbsp;de&nbsp;impresion".</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:56px;left:536px;width:48px;height:16px;"><table width="48px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-2">Dirección&nbsp;:</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:32px;left:536px;width:48px;height:16px;"><table width="48px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-2">Teléfono&nbsp;:</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:168px;left:608px;width:160px;height:16px;"><table width="160px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-3">Fecha</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:136px;left:608px;width:72px;height:16px;"><table width="72px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-4">N°&nbsp;Recibo&nbsp;:</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:56px;left:592px;width:176px;height:32px;"><table width="176px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-2">Estatua&nbsp;Montoya&nbsp;4c.&nbsp;al&nbsp;lago&nbsp;2c.&nbsp;abajo.</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:32px;left:592px;width:176px;height:16px;"><table width="176px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-2">(505)&nbsp;8422-5412</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:136px;left:704px;width:64px;height:16px;"><table width="64px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-5">{{r.str_numero}}</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:192px;left:624px;width:136px;height:16px;text-align:center;"><table width="136px" border="0" cellpadding="0" cellspacing="0"><tr><td align="center"><span class="fci49vv1b4n800-4">{{r.fecha}}</span></td></tr></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:152px;left:8px;width:88px;height:16px;"><table width="88px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-6">Cliente&nbsp;:</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:200px;left:8px;width:88px;height:16px;"><table width="88px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-6">Area&nbsp;:</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:152px;left:104px;width:160px;height:16px;"><table width="160px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-7">{{r.area.cliente.name}}</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:152px;left:424px;width:168px;height:16px;"><table width="168px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-7">{{r.area.encargado}}</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:176px;left:288px;width:128px;height:16px;"><table width="128px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-6">Unidad&nbsp;Ejecutora:</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:176px;left:424px;width:168px;height:16px;"><table width="168px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-7">{{r.area.unidad_ejecutora}}</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:152px;left:288px;width:128px;height:16px;"><table width="128px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-6">Encargado&nbsp;:</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:176px;left:8px;width:88px;height:16px;"><table width="88px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-6">Ubicacion&nbsp;:</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:200px;left:104px;width:160px;height:16px;"><table width="160px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-7">{{r.area.name}}</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:176px;left:104px;width:160px;height:16px;"><table width="160px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-7">{{r.area.ubicacion.name}}</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:200px;left:288px;width:128px;height:16px;"><table width="128px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-6">Período&nbsp;:</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:200px;left:424px;width:168px;height:16px;"><table width="168px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-7">{{r.periodo}}</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:96px;left:536px;width:48px;height:16px;"><table width="48px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-2">Web&nbsp;:</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:96px;left:592px;width:176px;height:16px;"><table width="176px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-2">www.deltacopiers.com.ni</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:8px;left:24px;width:112px;height:112px;"><img src="{{ STATIC_URL }}/home/img/logos/deltacopiers.jpg" border="0" width="112px" height="112px"></div>
<div style="z-index:3;clip:rect(0px,785px,224px,0px);top:251px;left:0px;width:785px;height:224px;"></div>


{% for d in r.detalle %}
 <!--Detalle-->
<div class="adi49vv1b4n800-0" style="z-index:25;top:{{d.top}}px;left:16px;width:48px;height:16px;"><table width="48px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-9">{{ d.equipo.marca.name }}</span></td></table></div>
<div class="adi49vv1b4n800-0" style="z-index:25;top:{{d.top}}px;left:80px;width:56px;height:16px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-9">{{ d.equipo.modelo }}</span></td></table></div>
<div class="adi49vv1b4n800-0" style="z-index:25;top:{{d.top}}px;left:152px;width:72px;height:16px;"><table width="72px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-9">{{ d.equipo.serie }}</span></td></table></div>
<div class="adi49vv1b4n800-0" style="z-index:25;top:{{d.top}}px;left:240px;width:64px;height:16px;"><table width="64px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-9">{{ d.equipo.velocidad }}&nbsp;cpm</span></td></table></div>
<div class="adi49vv1b4n800-0" style="z-index:25;top:{{d.top}}px;left:320px;width:56px;height:16px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-9">{{ d.fecha_inicial|date:"c" }}</span></td></table></div>
<div class="adi49vv1b4n800-0" style="z-index:25;top:{{d.top}}px;left:392px;width:56px;height:16px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-9">{{ d.fecha_final|date:"c" }}</span></td></table></div>
<div class="adi49vv1b4n800-0" style="z-index:25;top:{{d.top}}px;left:480px;width:64px;height:16px;"><table width="64px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-9">{{ d.dias_facturados }}</span></td></table></div>
<div class="adi49vv1b4n800-0" style="z-index:25;top:{{d.top}}px;left:560px;width:64px;height:16px;"><table width="64px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-9">{{ d.copias }}</span></td></table></div>
<div class="adi49vv1b4n800-0" style="z-index:25;top:{{d.top}}px;left:640px;width:56px;height:16px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-9">U$&nbsp;{{ d.precio }}</span></td></table></div>
<div class="adi49vv1b4n800-0" style="z-index:25;top:{{d.top}}px;left:712px;width:56px;height:16px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fci49vv1b4n800-9">U$&nbsp;{{ d.importe }}</span></td></table></div>
{% endfor %}


<!--Cabecera de Detalle-->
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:283px;left:16px;width:288px;height:16px;"><table width="288px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-4">Detalle&nbsp;del&nbsp;Equipo</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:331px;left:16px;width:48px;height:16px;"><table width="48px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-8">Marca</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:331px;left:80px;width:56px;height:16px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-8">Modelo</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:331px;left:152px;width:72px;height:16px;"><table width="72px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-8">Serie</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:331px;left:240px;width:64px;height:16px;"><table width="64px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-8">Velocidad</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:267px;left:328px;width:440px;height:16px;"><table width="440px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-4">Detalle&nbsp;de&nbsp;Facturación</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:331px;left:640px;width:56px;height:16px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-8">Precio</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:331px;left:320px;width:56px;height:16px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-8">inicio</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:331px;left:392px;width:56px;height:16px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-8">final</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:331px;left:560px;width:64px;height:16px;"><table width="64px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-8">Total&nbsp;Copia</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:331px;left:712px;width:56px;height:16px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-8">Importe</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:299px;left:328px;width:184px;height:16px;"><table width="184px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-4">Datos&nbsp;del&nbsp;Período</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:331px;left:456px;width:96px;height:16px;"><table width="96px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-8">Dias&nbsp;Facturados</span></td></table></div>
<div class="adi49vv1b4n800-0" nowrap="true" style="z-index:25;top:299px;left:568px;width:184px;height:16px;"><table width="184px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-4">Montos</span></td></table></div>
<div style="z-index:3;clip:rect(0px,785px,457px,0px);top:568px;left:0px;width:785px;height:457px;"></div>
<div class="adi49vv1b4n800-2" nowrap="true" style="z-index:25;top:918px;left:389px;width:373px;height:89px;"><table width="363px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-10">Recibido</span></td></table></div>
<div class="adi49vv1b4n800-2" nowrap="true" style="z-index:25;top:582px;left:389px;width:181px;height:37px;"><table width="171px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-6">Total&nbsp;de&nbsp;copias</span></td></table></div>
<div class="adi49vv1b4n800-2" nowrap="true" style="z-index:25;top:622px;left:389px;width:181px;height:37px;"><table width="171px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-6">Importe&nbsp;Total</span></td></table></div>
<div class="adi49vv1b4n800-2" nowrap="true" style="z-index:25;top:662px;left:389px;width:181px;height:37px;"><table width="171px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-6">T/C</span></td></table></div>
<div class="adi49vv1b4n800-2" nowrap="true" style="z-index:25;top:702px;left:389px;width:181px;height:37px;"><table width="171px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-6">Incluye&nbsp;Papel</span></td></table></div>
<div class="adi49vv1b4n800-2" nowrap="true" style="z-index:25;top:742px;left:389px;width:181px;height:37px;"><table width="171px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-6">Operador&nbsp;Encargado</span></td></table></div>
<div class="adi49vv1b4n800-3" nowrap="true" style="z-index:25;top:582px;left:581px;width:181px;height:37px;"><table width="171px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-6">{{ r.copias }}</span></td></table></div>
<div class="adi49vv1b4n800-3" nowrap="true" style="z-index:25;top:622px;left:581px;width:181px;height:37px;"><table width="171px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-6">U$&nbsp;{{r.importe}}</span></td></table></div>
<div class="adi49vv1b4n800-3" nowrap="true" style="z-index:25;top:662px;left:581px;width:181px;height:37px;"><table width="171px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-6">CS&nbsp;{{r.tc}}</span></td></table></div>
<div class="adi49vv1b4n800-3" nowrap="true" style="z-index:25;top:702px;left:581px;width:181px;height:37px;"><table width="171px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-6">Si</span></td></table></div>
<div class="adi49vv1b4n800-3" nowrap="true" style="z-index:25;top:742px;left:581px;width:181px;height:37px;"><table width="171px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-6">{{r.area.ubicacion.user}}</span></td></table></div>
<div class="adi49vv1b4n800-3" nowrap="true" style="z-index:25;top:798px;left:389px;width:373px;height:117px;"><table width="363px" border="0" cellpadding="0" cellspacing="0"><td align="center"><span class="fci49vv1b4n800-3">{{r.area.encargado}}</span></td></table></div>

<style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


</style>
<svg class="chart"></svg>
<script src="/static/js/d3.v3.min.js"></script>
<script>
    var data = [
        {% for d in r.ultimos_seis %}
        { name: '{{d.periodo}}', meta: {{d.copias}}},
        {% endfor %}
    ];
</script>
<script>

var margin = {top: 580, right: 30, bottom: 30, left: 40},
    width = 320, height = 170;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1)
    .domain(data.map(function(d) { return d.name; }));

var y = d3.scale.linear()
    .range([height, 0])
    .domain([0, d3.max(data, function(d) { return d.meta; })]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var chart = d3.select(".chart")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  chart.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  chart.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  chart.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.name); })
      .attr("y", height)
      .attr("height", 0)
      .attr("width", x.rangeBand())
      .transition().duration(1500)
          .attr("height", function(d) { return height - y(d.meta); })
          .attr("y", function(d) { return y(d.meta); });

  chart.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.name); })
      .attr("y", height)
      .attr("height", 0)
      .attr("width", x.rangeBand())
      .transition().duration(1500)
          .attr("height", function(d) { return height - y(d.venta); })
          .attr("y", function(d) { return y(d.venta); });

function type(d) {
  d.value = +d.meta; // coerce to number
  return d;
}

</script>

{% endfor %}
    </body>
</html>
