#row_navbar {
	margin-bottom: 50px;
}
#content_title {
	margin: 0;
	padding: 5px;
}
.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
#filter {
	display: inline-table;
	margin: 5px;
}
#object-tools-content {
	background-color: aliceblue;
}