{% extends 'base.html' %}
{% block superior %}{% endblock %}
{% block inferior %}
	{% for item in queryset %}
	<div style="position: absolute; margin-left: 100mm; margin-top: 20mm"># {{ item.id }}</div>
<div class="container documento">
	<div class="well pagina recibo">
		<div class="logo">
		<caption><h1 align="center" class="titulo">Requisa de Bodega</h1></caption>
		<table class="table table-bordered">
			<thead>
				<tr><h5 align="center" class="equipo">AREA {{ item.area.nombre }}</h5></tr>
			</thead>
			<tbody>
				<tr>
					<td class="etiqueta">Fecha</td>
					<td>{{ item.fecha | date:"d/m/y" }}</td>
					<td class="etiqueta">Tipo de Requisa</td>
					<td>{{ item.print_tipo_requisa }}</td>
				</tr>
				{% if item.detalles %}
				<tr>
					<td colspan="12"><h4 align="center">Detalle de Articulos</h4></td>
				</tr>
				<tr>
					<td colspan="1"><h6 align="center">ARTICULO</h6></td>
					<td colspan="1"><h6 align="center">CANTIDAD</h6></td>
					<td colspan="1"><h6 align="center">COSTO UNITARIO</h6></td>
					<td colspan="2"><h6 align="center">TOTAL</h6></td>
				</tr>
					{% for d in item.detalles %}
						<tr>
							<td colspan="1">{{ d.articulo }}</td>
							<td colspan="1">{{ d.cantidad }}</td>
							<td colspan="1">{{ d.costo }}</td>
							<td colspan="2">{{ d.total }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2"><h4 align="center">Costo Total</h4></td>
					<td colspan="2"><h4 align="center">{{ item.costo_total }}</h4></td>
				</tr>
				<tr>
					<td colspan="2"><h4 align="center">Recibi Conforme</h4></td>
					<td colspan="2"><h4 align="center">Entregue Conforme</h4></td>
				</tr>
				<tr>
					<td colspan="2"><h4 align="center">{{ item.recibido }}</h4></td>
					<td colspan="2"><h4 align="center">{{ item.entregado }}</h4></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div><end-page></end-page>
{% endfor %}
{% endblock %}